################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1st_year/OOP/Lab3-4_rewrite/.vs/Lab3-4_rewrite/v15
/1st_year/OOP/Lab3-4_rewrite/Debug
/1st_year/OOP/Lab3-4_rewrite/Lab3-4_rewrite/Debug
/1st_year/OOP/Lab3-4_badVersion/.vs/Lab3/v15/ipch/AutoPCH
/1st_year/OOP/Lab3-4_badVersion/.vs/Lab3/v15/Browse.VC.opendb
/.vs
/1st_year/OOP/Lab5-/Lab5-/Debug
/1st_year/OOP/Lab5-/Debug
/1st_year/OOP/Lab5-/.vs/Lab5-/v15
/1st_year/OOP/Lab5-/Lab5-/Lab5-.vcxproj
/1st_year/OOP/Lab5-/Lab5-/Lab5-.vcxproj.user
/1st_year/OOP/Lab5-/Lab5-/Lab5-.vcxproj.filters
/1st_year/OOP/Lab3-4_rewrite/Lab3-4_rewrite/Lab3-4_rewrite.zip
/1st_year/Graphs_Algorithmics/Lab1/.idea
*.project
*.pydevproject
/1st_year/OOP/Lab3-4_rewrite/Lab3-4_rewrite/test.zip
/1st_year/OOP/Lab5-/Sample-Test1/Debug
/1st_year/OOP/Lab5-/Sample-Test1/Sample-Test1.vcxproj.user
/1st_year/OOP/Lab5-/Sample-Test1/Sample-Test1.vcxproj
/1st_year/OOP/Lab5-/Sample-Test1/packages.config
/1st_year/OOP/Lab5-/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.0
/1st_year/OOP/Lab5-/Sample-Test1
