################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1st_year/OOP/Lab3-4_rewrite/.vs/Lab3-4_rewrite/v15
