################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1st_year/OOP/Lab3-4_rewrite/.vs/Lab3-4_rewrite/v15
/1st_year/OOP/Lab3-4_rewrite/Debug
/1st_year/OOP/Lab3-4_rewrite/Lab3-4_rewrite/Debug
/1st_year/OOP/Lab3-4_badVersion/.vs/Lab3/v15/ipch/AutoPCH
/1st_year/OOP/Lab3-4_badVersion/.vs/Lab3/v15/Browse.VC.opendb
